#modal {
  opacity: 0%;
  display: none;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.534);
  height: 100%;
  width: 100%;
  position: absolute;
  transition: opacity 0.5s ease;
}
#modal .box {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: left;
  max-width: 400px;
  transition: top 0.5s ease;
}
#modal .box hr {
  max-width: 70%;
  margin-bottom: 5px;
}
#modal .box button {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
  font-size: 16px;
  padding: 5px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #6060f7;
  cursor: pointer;
}